<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" type="text/css" href="vendor/introjs.css">
  <link rel="stylesheet" type="text/css" href="fonts/rpg-font/style.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" id="viewport" content="user-scalable=yes, initial-scale=1, maximum-scale=2, minimum-scale=1, width=device-width">

  <style>
    body {
      font-family: Arial, sans-serif;
    }
    table {
      float:left;
    }
    table td {
      padding: 5px 10px;
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
    }
    .icon {
      font-family: 'rpg-icons';
    }

  </style>
</head>

<body>

<div ng-app="deckBuilder" ng-controller="deckBuilderCtrl">

  <table class='cardlist'>
    <tr>
      <th>card</th>
      <th></th>
      <th>cost</th>
      <th>speed</th>
      <th>health</th>
    </tr>
    <tr ng-repeat="card in pool track by $index">
      <td ng-bind-html="card.pic" class='icon'></td>
      <td>{{ card.name }}</td>
      <td>&diams; {{ card.cost }}</td>
      <td><i class="fa fa-bolt"></i> {{ card.speed }}</td>
      <td>{{ card.health }}</td>
      <td><button ng-click='add($index)'>add</button></td>
    </tr>
  </table>

  <table class='cardlist'>
    <tr>
      <th>card</th>
      <th></th>
      <th>cost</th>
      <th>speed</th>
      <th>health</th>
    </tr>
    <tr ng-repeat="card in deck track by $index">
      <td ng-bind-html="card.pic" class='icon'></td>
      <td>{{ card.name }}</td>
      <td>&diams; {{ card.cost }}</td>
      <td><i class="fa fa-bolt"></i> {{ card.speed }}</td>
      <td>{{ card.health }}</td>
      <td><button ng-click='remove($index)'>remove</button></td>
    </tr>
  </table>

</div>

<script src="js/mobile.js"></script>
<script src="vendor/intro.js"></script>
<script src="vendor/angular.min.js"></script>
<script src="vendor/ramda.min.js"></script>
<script src="vendor/Sortable.min.js"></script>
<script src="vendor/ng-sortable.js"></script>

<script src="js/mix.js"></script>
<script src="js/deckbuilder.js"></script>
<script src="js/entities.js"></script>
<script src="js/actions.js"></script>
<script src="js/resources.js"></script>
<script src="js/minions.js"></script>
<script src="js/magic.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>

</body>
</html>
