<!doctype html>
<html>

<head>

  <link rel="stylesheet" type="text/css" href="vendor/introjs.css">
  <link rel="stylesheet" type="text/css" href="fonts/rpg-font/style.css">
  <!--<link rel="stylesheet" href="css/font-awesome.min.css">-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
  <link rel="stylesheet" type="text/css" href="css/libs.css">
  <link rel="stylesheet" type="text/css" href="css/layout.css">
  <link rel="stylesheet" type="text/css" href="css/entities.css">
  <link rel="stylesheet" type="text/css" href="css/animations.css">
  <link rel="stylesheet" type="text/css" href="css/pages.css">
  <link rel="stylesheet" type="text/css" href="fonts/type/stylesheet.css">
  
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" id="viewport" content="user-scalable=yes, initial-scale=1, maximum-scale=2, minimum-scale=1, width=device-width">

</head>

<body ng-app="gameApp">

<div class="splash"></div>

<div ng-view id="view"></div>

<script type="text/ng-template" id="deck.html">

<div ng-controller="deckCtrl" id='deckbuilder'>
  <a href='#/{{ epic_id }}/deck' id="exit">X</a>
  <form style='text-align:center'>
    Deck Name: <input ng-change="save()" ng-model="deck.name" class='deck-name'>
  </form>
  <div class="pool-wrap">
    <table class='cardlist'>
      <tr>
        <th>card</th>
        <th></th>
        <th>cost</th>
        <th>speed</th>
        <th>health</th>
      </tr>
      <tr ng-repeat="card in pool track by $index">
        <td ng-bind-html="card.pic" class='icon'></td>
        <td>{{ card.name }}</td>
        <td>&diams; {{ card.cost }}</td>
        <td><i class="fa fa-bolt"></i> {{ card.speed }}</td>
        <td>{{ card.health }}</td>
        <td><button ng-click='add($index)'>add</button></td>
      </tr>
    </table>
  </div>
  <div class="deck-wrap">
    <table class='cardlist'>
      <tr>
        <th>card</th>
        <th></th>
        <th>cost</th>
        <th>speed</th>
        <th>health</th>
      </tr>
      <tr ng-repeat="card in deck.cards track by $index">
        <td ng-bind-html="card.pic" class='icon'></td>
        <td>{{ card.name }}</td>
        <td>&diams; {{ card.cost }}</td>
        <td><i class="fa fa-bolt"></i> {{ card.speed }}</td>
        <td>{{ card.health }}</td>
        <td><button ng-click='remove($index)'>remove</button></td>
      </tr>
    </table>
  </div>
</div>
</script>

<script type="text/ng-template" id="decks.html">
<a href='#{{ epic_id }}/' id="exit">X</a>
<div ng-controller="decksCtrl" id="decks">
  <p class='paper-stack'>
    <button ng-click="new_deck()">New Deck</button>
  </p>
  <div id="decks" class='paper-stack'>
    <p ng-repeat="deck in decks track by $index">
      <a href="#/{{ epic_id }}/deck/{{ deck.id }}">{{ deck.name }}</a>
    </p>
  </div>
</div>
</script>

<script type="text/ng-template" id="map.html">
<a href='#/{{ epic_id }}/map/{{ map_idx }}' id="exit">X</a>
<div ng-controller="mapCtrl" id="scenarios">
  <div id="levels">
    <p ng-repeat="scenario in scenarios track by $index" class="page">
      <b>{{ scenario.order }}</b>
      <a href="#/{{ epic_id }}/game/{{ map_idx }}/{{ $index }}">{{ scenario.name.replace('_'," ") }}</a>
    </p>
  </div>
</div>
</script>

<script type="text/ng-template" id="menu.html">
<div ng-controller='menuCtrl'>
  <div class='paper-stack'>
    <p ng-repeat="idx in [1,2,3]">
      <button ng-click="load_epic(idx)">
        <a>Game {{ idx }}</a>
        <span ng-if="!epics[idx]">(new)</span>
      </button>
    </p>
  </div>
</div>
</script>

<script type="text/ng-template" id="epic.html">
<a href='#/' id="exit">X</a>
<div ng-controller='epicCtrl'>
  <div class='paper-stack'>
    <p><button><a href="#/{{ epic_id }}/deck">decks</a></button></p>
  </div>
  <div class='paper-stack'>
    <p ng-repeat="map in maps track by $index">
      <button><a href="#/{{ epic_id}}/map/{{ $index }}">{{ map.name }}</a></button>
    </p>
  </div>
</div>
</script>

<script type="text/ng-template" id="story.html">
<div ng-controller="storyCtrl" id="story">

  <div
    ng-repeat="page in story.pages track by $index"
    ng-class="{showing : (place == $index), page:true}"
  >
    <p>{{ page.text }}</p>
    
    <p
      ng-if="page.options"
      ng-repeat="option in page.options"
    >

      <button
        ng-click=choose(page.input,option.value)
      >{{ option.text }}</button>
    </p>

    <p ng-if="!page.options">
      <button ng-click="next()">next</button>
    </p>
  </div>
</div>
</script>


<script type="text/ng-template" id="card.html">

  <div class="inline-details">
    <div class="title">{{ card.name.capitalizeFirstLetter() }}</div>
    <div class="description" ng-bind-html="card.get_description()"></div>
  </div>

  <div class="icon handle"
    pic="{{card.svg}}"
    style="-webkit-mask:url(svg/{{card.svg}}.svg) center"
    ng-dblclick="info(card)" 
    ng-if="card.svg"
    ></div>
  
  <div ng-transclude></div>

  <div class="statuses">
    <div ng-if="card.stunned" class="stun pin">
      &#x29D7;<br>
      {{ card.stunned }}
    </div>
  </div>

  <div class="health pin" ng-if="card.health !== undefined">{{ card.health }}</div>
  <div class="speed pin" ng-if="card.speed">{{ card.effective_speed }}</div>
  <div class="damage pin" ng-if="card.damage">{{ card.damage }}</div>
</script>

<script type="text/ng-template" id="game.html">

<div ng-controller="gameCtrl">
  <div id="wrapper" ng-class="{playing: playing}" ng-cloak>
    
    <a href='#/{{ epic_id }}/map/{{ GAME.map_idx }}' id="exit">X</a>

    <div id="turn" data-intro="After issuing orders, hit the 'turn' button, and sit back to watch the fight." data-step=4 data-position=top ng-click="turn()">
      GO
    </div>
    
    <div id="details-mask" ng-if="details" ng-click="close_details()">
      <div id="details" class="page">

        <h3>{{ details.name }}</h3>
        <table class='page'>
          <tr>
            <th>health &hearts;</th>
            <th>speed <i class='fa fa-bolt'></i></th>
            <th>damage <i class='fa fa-hand-rock-o'></i></th>
            <th>cost &diams;</th>
          </tr><tr>
            <td>{{ details.health }}</td>
            <td>{{ details.speed }}</td>
            <td>{{ details.damage }}</td>
            <td>{{ details.cost }}</td>
          </tr>
        </table>

        <p ng-if="details.field_actions">actions: <i ng-repeat="act in details.field_actions"> {{ act.name }} </i> </p>
        
        <table class='page'>
          <tr>
            <th>cost</th>
            <th>delay</th>
            <th>rarity</th>
          </tr><tr>
            <td>{{ details.cost }}</td>
            <td>{{ details.delay }}</td>
            <td>{{ details.rarity }}</td>
          </tr>
        </table>

      </div>
    </div>

    <div id="stats">
      <!--<div id="deck" class="card mini">
        {{ player.deck.length }}
      </div>
      <div id="discard" class="card mini">
        {{ player.discard.length }}
      </div>-->
      <div id="diams"
        data-intro="This denotes your current reserve of diamonds, which serve as money in this game."
        data-step=5
        data-position=left 
        ng-drop="{{ player.can_dig() }}"
        ng-drop-success="onDropDig()">
      </div>
      <div id="diams-val">
        <div id="diams-current">{{ player.diams }}</div>
        <div id="diams-max">{{ player.storage }}</div>
      </div>
      <div id="income">+{{ player.income }}</div>
    </div>

    <div id="zones">

      <div class="enemy zone" data-intro="This is the enemy army. Armies attack each other from the left side. You'll see what I mean in a bit." data-step=2
      ng-drop="{{ is_targeting_enemy_field() }}"
      ng-drop-success="onDropEnemyField()"
      >
        <div ng-repeat="card in enemy.field.slice().reverse() track by $index" ng-class="get_card_classes(card)"
        ng-drop-success="pick(card)"
        ng-drop="{{ card._target === true }}"
        >
          <card card=card zone='enemy'></card>
        </div>
      </div>

      <!--<ul class="field zone sortable" ng-sortable="sort_config" data-intro="This is your army. Issue orders to your troops by clicking the black <button>buttons</button>, after this tour." data-step=1>-->
      <div class="field zone" data-intro="This is your army. Issue orders to your troops by clicking the black <button>buttons</button>, after this tour." data-step=1
        ng-drop="{{ is_targeting_player_field() }}"
        ng-drop-success="onDropField()"
        >
        <div ng-repeat="card in player.field"
          ng-class="get_card_classes(card)"
          ng-drop-success="pick(card)"
          ng-drop="{{ card._target === true }}"
          ng-drag="{{ player.can_act(card) }}"
          ng-drag-start="actStart(card)"
          ng-drag-stop="cancelDrag()"
          >
          <card card=card zone='field'>
            <div class="menu" ng-if="card.field_actions.length > 1">
              <div ng-repeat="action in card.field_actions.slice(1)">
                <button ng-click="act(card, action); $event.stopPropagation()" ng-bind-html="action.button(card)">
                </button>
              </div>
            </div>
          </card>
        </div>
      </div>
      
      <div class="hand zone" data-intro="This is your bag of tricks. It refills each turn. Again, use the black <button>buttons</button> to do stuff." data-step=3>
        <div ng-repeat="card in player.hand"
          ng-class="get_card_classes(card)"
          ng-drag="{{ player.can_play_or_dig(card) }}"
          ng-drag-start="playStart(card)"
          ng-drag-stop="cancelDrag()"
          >
          <card card=card zone='hand'>
            <div class="cost pin" ng-if="card.cost" ng-class="{faded: player.diams < card.cost}"><span>{{ card.cost }}</span></div>          
            <div class="menu" ng-if="card.hand_actions.length > 1">
              <div ng-repeat="action in card.hand_actions.slice(1)" ng-class="{faded: player.diams < card.cost}" ng-click="play(card, action); $event.stopPropagation()" ng-bind-html="action.button(card)">
              </div>
            </div>
          </card>
        </div>
      </div>
    </div> <!--/#zones-->
  </div> <!--/#wrapper-->
    
</div>
</script>

<div class='text-proxy'></div>
<div class='shoot-proxy'></div>
<div class='pow-proxy'></div>
<div class='zap-proxy'></div>

<script src="js/mobile.js"></script>
<script src="vendor/intro.js"></script>
<script src="vendor/angular.min.js"></script>
<script src="vendor/ng-route.js"></script>
<script src="vendor/ramda.min.js"></script>
<!--<script src="vendor/Sortable.min.js"></script>-->
<script src="vendor/ngDraggable.js"></script>
<!--<script src="vendor/ng-sortable.js"></script>-->
<script src="vendor/velocity.min.js"></script>

<script src="js/mix.js"></script>

<script src="js/game.js"></script>
<script src="js/player.js"></script>
<script src="js/gfx.js"></script>
<script src="js/entities.js"></script>
<script src="js/actions.js"></script>
<script src="js/minions.js"></script>
<script src="js/resources.js"></script>
<script src="js/magic.js"></script>
<script src="js/controller.js"></script>
<script src="js/story.js"></script>
<!--<script type="text/javascript" src="cordova.js"></script>-->


</body>
</html>