<!doctype html>
<html>

<head>

  <link rel="stylesheet" type="text/css" href="fonts/rpg-font/style.css">
  <link rel="stylesheet" type="text/css" href="css/libs.css">
  <link rel="stylesheet" type="text/css" href="css/layout.css">
  <link rel="stylesheet" type="text/css" href="css/entities.css">
  <link rel="stylesheet" type="text/css" href="css/animations.css">
  <link rel="stylesheet" type="text/css" href="css/pages.css">
  <link rel="stylesheet" type="text/css" href="fonts/type/stylesheet.css">
  
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" id="viewport" content="user-scalable=yes, initial-scale=1, maximum-scale=2, minimum-scale=1, width=device-width">

</head>

<body ng-app="gameApp">

<div class="splash"></div>

<div ng-view id="view"></div>

<script type="text/ng-template" id="deck.html">

<div ng-controller="deckCtrl" id='deckbuilder'>
  <a href='#/{{ epic_id }}/deck' class='exit'>&lsaquo;</a>
  <form>
    Deck Name: <input ng-change="save()" ng-model="deck.name" class='deck-name'>
  </form>
  <div class="pool-wrap">
    <table class='cardlist'>
      <tr>
        <th>card</th>
        <th></th>
        <th>cost</th>
        <th>speed</th>
        <th>health</th>
      </tr>
      <tr ng-repeat="card in pool track by $index">
        <td>{{ card.name }}</td>
        <td>&diams; {{ card.cost }}</td>
        <td><i class="fa fa-bolt"></i> {{ card.speed }}</td>
        <td>{{ card.health }}</td>
        <td><button ng-click='add($index)'>add</button></td>
      </tr>
    </table>
  </div>
  <div class="deck-wrap">
    <table class='cardlist'>
      <tr>
        <th>card</th>
        <th></th>
        <th>cost</th>
        <th>speed</th>
        <th>health</th>
      </tr>
      <tr ng-repeat="card in picks track by $index">
        <td>{{ card.name }}</td>
        <td>&diams; {{ card.cost }}</td>
        <td><i class="fa fa-bolt"></i> {{ card.speed }}</td>
        <td>{{ card.health }}</td>
        <td><button ng-click='remove($index)'>remove</button></td>
      </tr>
    </table>
  </div>
</div>
</script>

<script type="text/ng-template" id="decks.html">
<div ng-controller="decksCtrl" id="decks" class='content'>
  <a href='#/{{ epic_id }}' class='exit'>&lsaquo;</a>
  <h1>Decks</h1>
  <p>
    <button ng-click="new_deck()">New Deck</button>
  </p>
  <div id="decks">
    <p ng-repeat="deck in decks track by $index">
      <a href="#/{{ epic_id }}/deck/{{ deck.id }}"><button>{{ deck.name }}</button></a> 
      <a ng-click='delete_deck($index)'><button>X</button></a>
      <a ng-click='default_deck(deck.id)' ng-if="deck.id != epic.default_deck_id"><button>use</button></a>
      <a ng-if="deck.id == epic.default_deck_id" style="font-size:4vw;padding:2vw">&check;</a>
    </p>
  </div>
  <p ng-if="!decks.length"><br>
    You have not created any decks. Until you do, your entire collection of cards will be used.
  </p>
</div>
</script>

<script type="text/ng-template" id="won.html">
<div ng-controller="wonCtrl" id="won">
  <h1>
    You Won!
  </h1>

  <div class="prizes" ng-if='prizes.length'>
    <p>
  Pick {{ num_prizes }} prizes:
    </p>
    <div ng-repeat="card in prizes track by $index" ng-class="card.get_classes()">
      <card ng-click='pick_prize($index)' card=card zone='prizes'></card>
    </div>
  </div>
  <p>
    <a href='#/{{ epic_id }}/map/{{ map_idx }}'>
      <button>OK</button>
    </a>
  </p>
</div>
</script>

<script type="text/ng-template" id="lost.html">
<div ng-controller="lostCtrl" id="lost">
  <h1>
    You Lost!
  </h1>
  <a href='#/{{ epic_id }}/map/{{ map_idx}}'>
    <button>OK</button>
  </a>
</div>
</script>

<script type="text/ng-template" id="map.html">
<div ng-controller="mapCtrl">
  <a href='#/{{ epic_id }}' class='exit'>&lsaquo;</a>
  <div id="rooms">
    <a ng-repeat="room in map.rooms track by $index" ng-click="goto_room($index)" ng-class="{disabled:!room_available($index)}">
      <b>{{ room.order }}</b>
      <span>{{ room.name.replace('_'," ") }}</span>
    </a>
  </div>
</div>
</script>


<script type="text/ng-template" id="room.html">
<div ng-controller="roomCtrl" class="content">
  <a href='#/{{ epic_id }}/map/{{ map_idx }}' class='exit'>&lsaquo;</a>
  <h1>{{ room.name }}</h1>
  <div id="scenarios">
    <a ng-repeat="scenario in room.scenarios track by $index" ng-click="goto_scen($index)" ng-class="{disabled:!scen_available($index)}">
      <b>{{ scenario.name.replace('_'," ") }}</b>
      <p>{{ scenario.description }}</p>
    </a>
  </div>
</div>
</script>


<script type="text/ng-template" id="menu.html">
<div ng-controller='menuCtrl' class='content'>
  <h1>CHOOSE HOUSE</h1>
  <p ng-repeat="idx in [1,2,3]">
    <button ng-click="load_epic(idx)">
      <span ng-if="epics[idx]">House {{ idx }}</span>
      <span ng-if="!epics[idx]">House {{ idx }} [new]</span>
    </button>
    <button ng-if="epics[idx]" ng-click="delete_epic(idx)">
      <span ng-if="confirm === idx">Confirm Delete</span>
      <span ng-if="!(confirm === idx)">X</span>
    </button>
  </p>
</div>
</script>

<script type="text/ng-template" id="epic.html">
<a href='#/' class='exit'>&lsaquo;</a>
<div ng-controller='epicCtrl'>
  <a class='collection' href="#/{{ epic_id }}/deck">
    <div class="cardstock"></div>
    <div class="cardstock"></div>
    <div class="cardstock">decks</div>
  </a>
  <div class='maps'>
    <a href="#/{{ epic_id}}/map/{{ $index }}" ng-repeat="map in maps track by $index">{{ map.name }}</a>
  </div>
</div>
</script>

<script type="text/ng-template" id="story.html">
<div ng-controller="storyCtrl" id="story">

  <div
    ng-repeat="page in story.pages track by $index"
    ng-class="{showing : (place == $index), page:true}"
  >
    <p>{{ page.text }}</p>
    
    <p
      ng-if="page.options"
      ng-repeat="option in page.options"
    >

      <button
        ng-click=choose(page.input,option.value)
      >{{ option.text }}</button>
    </p>

    <p ng-if="!page.options">
      <button ng-click="next()">next</button>
    </p>
  </div>
</div>
</script>


<script type="text/ng-template" id="card.html">
  
  <div class="spikes" ng-if="card.spikes"></div>
  <div class="inline-details">
    <div class="title">{{ card.name.capitalizeFirstLetter() }}</div>
    <div class="description" ng-bind-html="card.get_description()"></div>
  </div>

  <div class="icon handle"
    pic="{{card.svg}}"
    style="-webkit-mask:url(svg/{{card.svg}}.svg) center"
    ng-dblclick="info(card)" 
    ng-if="card.svg"
    ></div>
  
  <div ng-transclude></div>

  <div class="statuses">
    <div ng-if="card.stunned" class="stun pin">
      &#x29D7;<br>
      {{ card.stunned }}
    </div>
  </div>

  <div class="health pin" ng-if="card.health !== undefined">{{ card.health }}</div>
  <div class="speed pin" ng-if="card.effective_speed">{{ card.effective_speed }}</div>
  <div class="damage pin" ng-if="card.damage">{{ card.damage }}</div>

</script>

<script type="text/ng-template" id="game.html">

<div ng-controller="gameCtrl">
  <div id="wrapper" ng-class="{playing: playing}" ng-cloak>
    
    <a href='#/{{ epic_id }}/room/{{ GAME.map_idx }}/{{ GAME.room_idx }}' class='exit'>
      &lsaquo;
    </a>

    <div id="turn" ng-click="turn()">
      GO
    </div>

    <div id="scenario_name">{{ room_name }} - {{ scenario_name }}</div>
    
    <div id="details-mask" ng-if="details" ng-click="close_details()">
      <div id="details">
          
        <div ng-repeat="card in [details] track by $index" ng-class="card.get_classes">
          <card card=card zone='details'></card>
        </div>

        <table class=table1 cellpadding=0>
          <tr ng-repeat="stat in detail_stats track by $index">
            <th>{{ stat }}</th>
            <td>{{ get_stat(details, stat) }}</td>
          </tr><tr>
            <th>actions</th>
            <td>
              <span ng-repeat="act in details.field_actions"> {{ act.name }} </span>
              <span ng-repeat="act in details.hand_actions"> {{ act.name }} </span>
            </td>
          </tr>
        </table>

        <div id='rarity'>{{ details.rarity }}</div>

      </div>
    </div>

    <div id="stats">
      <!--<div id="deck" class="card mini">
        {{ player.deck.length }}
      </div>
      <div id="discard" class="card mini">
        {{ player.discard.length }}
      </div>-->
      <div id="diams"
        ng-drop="{{ player.can_dig() }}"
        ng-drop-success="onDropDig()">
      </div>
      <div id="diams-val">
        <div id="diams-current">{{ player.diams }}</div>
        <div id="diams-max">{{ player.storage }}</div>
      </div>
      <div id="income">+{{ player.income }}</div>
    </div>

    <div id="zones">

      <div class="enemy zone"
      ng-drop="{{ is_targeting_enemy_field() }}"
      ng-drop-success="onDropEnemyField()"
      >
        <div ng-repeat="card in enemy.field.slice().reverse() track by $index" ng-class="card.get_classes()"
        ng-drop-success="pick(card)"
        ng-drop="{{ can_target(card) }}"
        >
          <card card=card zone='enemy'></card>
        </div>
      </div>

      <div class="field zone"
        ng-drop="{{ is_targeting_player_field() }}"
        ng-drop-success="onDropField()"
        >
        <div ng-repeat="card in player.field"
          ng-class="card.get_classes()"
          ng-drop-success="pick(card)"
          ng-drop="{{ card._target === true }}"
          ng-drag="{{ player.can_act(card) }}"
          ng-drag-start="actStart(card)"
          ng-drag-stop="cancelDrag()"
          >
          <card card=card zone='field'>
            <div class="menu" ng-if="card.field_actions.length > 1">
              <div ng-repeat="action in card.field_actions.slice(1)">
                <button ng-click="act(card, action); $event.stopPropagation()" ng-bind-html="action.button(card)">
                </button>
              </div>
            </div>
          </card>
        </div>
      </div>
      
      <div class="hand zone">
        <div ng-repeat="card in player.hand track by $index"
          ng-class="card.get_classes()"
          ng-drag="{{ player.can_play_or_dig(card) }}"
          ng-drag-start="playStart(card)"
          ng-drag-stop="cancelDrag()"
          >
          <card card=card zone='hand'>
            <div class="cost pin" ng-if="card.cost" ng-class="{faded: player.diams < card.cost}"><span>{{ card.cost }}</span></div>          
            <div class="menu" ng-if="card.hand_actions.length > 1">
              <div ng-repeat="action in card.hand_actions.slice(1)" ng-class="{faded: player.diams < card.cost}" ng-click="play(card, action); $event.stopPropagation()" ng-bind-html="action.button(card)">
              </div>
            </div>
          </card>
        </div>
      </div>
    </div> <!--/#zones-->
  </div> <!--/#wrapper-->
    
</div>
</script>

<div class='text-proxy'></div>
<div class='shoot-proxy'></div>
<div class='pow-proxy'></div>
<div class='zap-proxy'></div>
<div class='arrow-proxy'></div>

<script src="js/mobile.js"></script>
<script src="vendor/angular.min.js"></script>
<script src="vendor/ng-route.js"></script>
<script src="vendor/ramda.min.js"></script>
<!--<script src="vendor/Sortable.min.js"></script>-->
<script src="vendor/ngDraggable.js"></script>
<!--<script src="vendor/ng-sortable.js"></script>-->
<script src="vendor/velocity.min.js"></script>

<script src="js/mix.js"></script>

<script src="js/game.js"></script>
<script src="js/player.js"></script>
<script src="js/gfx.js"></script>
<script src="js/entities.js"></script>
<script src="js/actions.js"></script>
<script src="js/agents.js"></script>
<script src="js/resources.js"></script>
<script src="js/magic.js"></script>
<script src="js/controller.js"></script>
<script src="js/story.js"></script>
<!--<script type="text/javascript" src="cordova.js"></script>-->


</body>
</html>