/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  line-height: 1.2;
  vertical-align: middle;
}

/*

pastel-green #91c794
pastel-blue #565f77
pastel-purple #9d62c5
pastel-red #EA9292
pastel-lightblue #5cc2f1
pastel-yellow #fff59d
*/

body {
  margin: 0;
  font-family: 'Tahoma', sans-serif;
  padding: 0;
  color: #444;
  background: #ddd;
  overflow: hidden;
  height: 100%;
  background-color: black;
}

#viewport {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 56.25vw;
  /* height:width ratio = 9/16 = .5625  */
  background: white;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  /* vertical center */
  left: 0;
  right: 0;
  /* horizontal center */
}

a, a:hover, a:visited {
  color: black;
  text-decoration: none;
}

@keyframes roll {
  from {
    transform: rotate(0deg) scale(1)
  }
  to {
    transform: rotate(360deg) scale(0)
  }
}

.barrel-roll {
  animation-name: roll;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

ul {
  margin: 0;
  padding: 0;
}

button.faded {
  color: #444;
  text-decoration: line-through;
  opacity: 0.8;
}

/* zones */

#zones {
  text-align: center;
}

.zone {
  background: white;
  padding-top: 7.5vw;
  /*white-space: nowrap;*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.2);
  /*transition: 0.5s height, 0.5s opacity;*/
}

.ehand {
  top: 0;
  height: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.ehand .card {
  transform: scale(0.6) translate(0, -3vw);
}

.efield.zone {
  text-align: right;
  padding-right: 5.5vw;
  height: 22vw;
  background: #9D62C5;
  background: url(../img/patterns/congruent_pentagon2.png);
}

.field.zone {
  text-align: left;
  height: 22vw;
  padding-left: 5.5vw;
  background: #91c794;
  background: url(../img/patterns/congruent_pentagon2.png);
}

.hand.zone {
  padding-top: 2.5vw;
  height: 12.5vw;
  position: absolute;
  text-align: center;
  background-color: #ccc;
  background: url(../img/patterns/congruent_pentagon.png) white;
  bottom: 0;
  left: 0;
  right: 0;
}

/*
.turn-button {
  font-size:2.50vw;
  box-shadow: 0.07vw 0.42vw 0 0 black;
  width: 8.20vw;
  height: 5.60vw;
  animation: wobble 3s infinite;
}*/

/* controls */

#turn, #stats, .exit {
  position: absolute;
  z-index: 200;
}

#stats {
  bottom: 3.5vw;
  left: 3.5vw;
  transition: 0.5s right;
}

.exit, #turn {
  cursor: pointer;
  font-size: 4.20vw;
  height: 7vw;
  width: 7vw;
  background: #fff;
  /*background-color: #F88;*/
  display: block;
  color: black;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.2);
}

#turn {
  bottom: -1vw;
  right: -1vw;
  transition: 0.5s all;
  font-size: 3vw;
  padding-top: 1vw;
}

.exit {
  top: -1vw;
  left: -1vw;
  line-height: 7vw;
}

#wrapper.playing #turn {
  bottom: -10.50vw;
}

#wrapper.playing .zone.store {
  opacity: 0;
}

#wrapper.playing #stats {
  right: -7vw;
}

#diams-val, #diams {
  width: 5.60vw;
  height: 5.60vw;
  position: relative;
}

#diams-val {
  z-index: 2;
  text-align: center;
  line-height: 1.4;
}

#diams-current {
  color: white;
  font-size: 3vw;
  text-shadow: 0.21vw 0.21vw 0.21vw rgba(0, 0, 0, 0.4);
}

#diams-max {
  border-top: 0.4vw solid #fff;
  color: #fff;
  font-size: 1.7vw;
  opacity: 0.7;
}

#income {
  font-size: 1.89vw;
  position: absolute;
  color: #666;
  top: -1.40vw;
  right: -1.40vw;
}

#diams {
  position: absolute;
  background: #5cc2f1;
  transform: rotate(45deg);
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.2);
}

#scenario_name {
  position: absolute;
  top: 0;
  left: 40vw;
  z-index: 250;
  background: white;
  padding: 0.5vw 2vw;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.2);
}

#details-mask {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 300;
}

#details {
  background: url(../img/patterns/congruent_pentagon.png);
  top: 7vw;
  left: 19vw;
  right: 19vw;
  bottom: 7vw;
  position: absolute;
  padding: 3.50vw;
}

#details table {
  position: absolute;
  border-collapse: collapse;
  background-color: #FFF;
  left: 34vw;
  top: 2.5vw;
  width: 25.5vw;
  height: 37vw;
}

#details table td, #details table th {
  padding: 0;
  font-size: 1.90vw;
}

#details .card {
  position: absolute;
  top: 23vw;
  left: 11vw;
  transform: scale(2);
}

#won, #lost {
  text-align: center;
}

#won h1, #lost h1 {
  height: 8vw;
  padding-top: 2vw;
  font-size: 10vw;
}
