

.content {
  text-align: center;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  background: url(../img/patterns/green_dust_scratch.png);
}
.content h1 {
  font-size: 8vw;
  opacity: 0.4;
}



/* epic page */
.collection {
  position: absolute;
  top: 10vw;
  right: 20vw;
}
.cardstock {
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 0; left: 0;
  background: white;
  box-shadow: 0 0 1vw rgba(0,0,0,0.25);
}
.cardstock:first-child {
}
.cardstock:nth-child(2) {
  transform: rotate(10deg) translate(1vw,0);

}
.cardstock:nth-child(3) {
  transform: rotate(20deg) translate(2vw, 0);
}
.maps {
  position: absolute;
  left: 0; top: 25vw;
  right: 0; bottom: 0;
  text-align: center;
}
.maps a {
  display: inline-block;
  width: 10vw; height: 10vw;
  background: #ddd;
  margin: 1vw;
}

/* rooms page */
#room {
  text-align: center;
}
#rooms {
  background-image: url(../img/cellar.svg);
  background-size: cover;
  text-align: center;
  padding: 1vw 4.20vw 0 4.20vw;
  position: absolute;
  bottom: 0; top: 0; left: 0; right: 0;
  transition: all 1s;
}
#rooms a {
  text-align: center;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  height: 10vw;
  width: 10vw;
  padding: 0.5vw;
  margin: 10vw 15vw 10vw 5vw;
  transition: all 1s;
  transform: rotateZ(5deg) rotateX(-20deg);
}
#rooms a b {
  display: block;
  font-size: 5vw;
  line-height: 4vw;
}
.disabled {
  opacity: 0.5;
}

#scenarios {
  margin: 0 20vw;
}
#scenarios a {
  display: inline-block;
  width: 28vw;
  height: 13vw;
  margin: 1vw;
  background: white;
  box-shadow: 0 0 1vw rgba(0,0,0,0.25);
}
#scenarios a b {
  text-transform: uppercase;
}
#logo {
  height: 21vw;
  transition: all 1s;
}
#rooms a:hover {
  color: black;
  transform: rotateX(20deg) scale(1.1);
}

.splash {
  display: none;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  /*background-image: url(../img/splash.png);*/
}
/* Game Menu */
#game_menu {
  text-align: center;
  padding: 4.20vw 4.20vw 0 4.20vw;
  margin: 2.10vw 2.10vw 0 2.10vw;
  height: 36.40vw;
  transition: all 1s;
}
#game_menu p {
  text-align: center;
  padding: 0;
  margin: 0;
}
#game_menu a {
  display: inline-block;
  vertical-align: middle;
  padding-top: 2.10vw;
  height: 10.50vw;
  width: 19.60vw;
  margin: 2.10vw;
  border-radius: 0.70vw;
  color: black;
  background-color: white;
  transform: rotateZ(5deg) rotateX(-20deg);
  font-size: 2.10vw;
  transition: all 1s;
  text-decoration: none;
}
#game_menu a:hover {
  transform: rotateX(20deg) scale(1.1);
}
/* done game menu */

.preload #rooms a {
  transform: rotateX(70deg) rotateZ(-10deg);
}
.preload #rooms {
  margin-top: 35vw;
  transform: scale(2) rotateZ(-5deg);
}
.preload #logo {
  margin-top: -28vw;
  transform: scale(2) rotateZ(-10deg);
}

/* deckbuilder screen */
.pool-wrap {
  left: 0;
  right: 50%;
}
.deck-wrap {
  left: 50%;
  right: 0;
}
.deck-name {
  font-size: 2vw;
}
.deck-wrap, .pool-wrap {
  position: absolute;
  top: 10vw;
  bottom: 0;
  overflow: auto;
}

#deckbuilder table {
  float:left;
}
#deckbuilder table td {
  padding: 5px 10px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
#deckbuilder form {
  text-align: center;
  font-size: 4vw;
  height: 10vw;
}
#deckbuilder form input {
  font-size: 3vw;
}

#story {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #111;
  color: #ddd;
}
#story .page {
  font-size: 3.50vw;
  position: absolute;
  top: 5vw;
  left: 7vw; right: 7vw;
  text-align: center;
  transition: opacity 2s;
  opacity: 0;
  z-index: 0;
  font-family: Consolas, courier, sans-serif;
}
#story .page.showing {
  opacity: 1;
  z-index: 1;
}
#story p {
  margin: 0;
}
#story select {
  font-size: 3.50vw;
}
button {
  font-size: 3.0vw;
  margin: 2.10vw 0 0 0;
  animation: wobble 2s infinite;
  padding: 1vw 6vw;
  font-weight: normal;
}
#story button:active {top: auto}; /* prevent relative button pos */


#won .prizes {
  margin-top: 10vw;
  text-align: center;
}