
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
* {line-height:1.2; vertical-align:middle;}

body {
  margin: 0;
  font-family: 'Tahoma', sans-serif;
  padding: 0;
  color: #444;
  background: #ddd;
  overflow: hidden;
  height: 100%;
  background-color: black;
}

#view {
  top: 0; left: 0; right: 0; bottom: 0;
  position: absolute;

  width: 100vw;
  height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
  background: white;
  margin: auto;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */

}

a, a:hover, a:visited{
  color: black;
  text-decoration: none;
}

@keyframes roll {
from { transform: rotate(0deg) }
to   { transform: rotate(360deg) }
}

.barrel-roll {
  animation-name: roll;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

ul {
  margin: 0;
  padding: 0;
}


/* card inner styles */
.card {
  position: relative;
  z-index: 150;
  height: 11vw;
  width: 12vw;
  display: inline-block;
  list-style: none;
  margin:0 1.40vw 0 0;
  border-radius: 22%;
}

.card .title {
  display: none;
  bottom: 0;
  left: -1vw
  right: -1vw;
  position: absolute;
  height: 2.25vw;
  overflow: hidden;
  text-align: center;
}
.icon {
  /*border: .3vw solid black;*/
  padding: 0.5vw;
  display: block;
  height: 11vw;
  width: 11vw;
  text-shadow: 0 0 4px rgba(0,0,0,0.3);
  background-color: white;
}
.soft, .card {
  user-select:none;
}
.card .menu {
  position: absolute;
  top: 10.80vw;
  left: -0.35vw;
}

/*
.card:after {
  position:absolute;
  font-size:.9rem;
  top:1.5rem;
  right:1rem;
  content:"i";
  border:thin solid gray;
  color:gray;
  width:1rem;
  line-height:1rem;
  text-align:center;
  border-radius:50%;
  pointer-events:none;
}*/
.card .stats, .card .statuses {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3.50vw;
  font-size: 2.10vw;
  letter-spacing: -0.28vw;
}
.card .stats {
  display: none;
}
.card:hover .stats {
  border-left: 1px solid rgba(0,0,0,0.1);
  display: block;
}
.card .pin {
  position: absolute;
  font-size: 2.35vw;
  text-align: center;
  text-shadow: 0.14vw 0.28vw 0.28vw black;
  font-weight: bold;
  border-radius: 50%;
  /*border: 0.28vw solid black;
  border-radius: 1.40vw;
  border-top-style: dotted;
  border-bottom-width: 0.56vw;*/
}

.card .speed {
  position: absolute;
  right: 0.35vw;
  top: 3.15vw;
}
.card .health {
  right: -1vw;
  bottom: 0;
  background-color: white;
  line-height: 1;
  width: 3vw;
  height: 3vw;
  background-color: #0c0;
  color: white;
}
.card .cost {
  position: absolute;
  right: 0.35vw;
  top: 0.35vw;
}
.title {
  text-transform:uppercase;
  font-size: 1.76vw;
  height: 2.25vw;
  overflow:hidden;
  background-color:white;
  border-radius: 20%;
  border: 1px solid black;
}
.sortable .card .handle {
  cursor: move;
}
button.faded {
  color: #444;
  text-decoration: line-through;
  opacity: 0.8;
}

/* zones */
#zones {
  text-align: center;
}
.zone {
  padding-top: 4.20vw;
  position: relative;
  height: 22.40vw;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*transition: 0.5s height, 0.5s opacity;*/
}
.enemy.zone {
  text-align: right;
  padding-right: 4.20vw;
  background: linear-gradient(0deg, #ffa 0%,#faa 100%);
  height: 18vw;
}
.field.zone {
  background: white; /*linear-gradient(0deg, #aaf 0%,#aff 100%);*/
  text-align: left;
  height: 18vw;
  z-index: 101;
  padding-left: 4.20vw;
  /*background: linear-gradient(5deg, #ffffff 80%,#f1eab6 100%);*/
}
.hand.zone {
  position: absolute;
  text-align: center;
  background-color: #ccc;
  bottom: 0;
  left: 0;
  right: 0;
}
[ng-drop="true"].zone.drag-enter {
    background-color: red;
}
[ng-drop="true"].zone {
    background-color: yellow;
}

[ng-drag="true"].card.dragging .icon {
  transform: scale(1.1);
  background-color: red;
}
[ng-drop="true"].card {
  transform: scale(1.1);
}
[ng-drop="true"].card.drag-enter {
  transform: scale(0.9);

}

[ng-drop="true"]#diams {
  background-color: red !important;
  /*transform: scale(2);*/
  transform: rotate(50deg) scale(1.5);
  transition: all 1s;

}
[ng-drop="true"].drag-enter#diams {
    border: solid 5px red;
    /*transform: scale(3);*/
}
/*
  transform: rotate(9deg);
.hand.zone .card:nth-child(1){ transform: rotate(-9deg)}
.hand.zone .card:nth-child(2){ transform: rotate(-4deg); margin-bottom: 1.05vw;}
.hand.zone .card:nth-child(3){ transform: rotate(4deg); margin-bottom: 1.05vw;}
*/

/*#wrapper.playing .hand.zone {height: 5.60vw;}
#wrapper.playing .hand-inner .card {opacity: 0;}*/
.store.zone {
  padding-top: 0;
  display: none;
}

#details-mask {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  z-index: 300;
}
#details {
  background-color: white;
  top: 7vw;
  left: 21vw;
  right: 21vw;
  bottom: 7vw;
  position: absolute;
  padding: 3.50vw;
}
#details table {
  background-color: #F88;
}
#details table td {
  padding: 2.80vw;
  font-size: 4.90vw;
}


 /*card types*/
.card.placeholder {
  opacity: 0 !important;
}
.card.minion {

}
.card.minion .icon {
  /*background: url(../img/fire.jpg);*/
  linear-gradient(190deg, #fefcea 0%,#d17676 70%);
  background-size: cover;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
.card.asset .icon {
  /*background: linear-gradient(190deg, #fefcea 0%,#ccc 80%);
  background-color: #eee;*/
  background: #aaa;
}
.card.resource .icon {
  /*background: radial-gradient(ellipse at center, #fefcea 10%,#8cafee 60%);
  background-color: #ffd;*/
  background: #ff8;
}

/* card states */
.card.damaged .health {
  background-color: red;
}
.card.dead .icon {
  background-color: #888;
  opacity: 0.4;
  border-color: red;
}
.card .stun {
  font-size: 1.96vw;
  line-height: 1.3;
  font-weight: normal;
  width: 4.20vw;
  padding: 0;
  height: 4.20vw;
  background-color: orange;
  color: white;
}
.card.dead .stats {
  border-color: #777;
}
.card.target .icon {
  cursor: pointer;
  transform: scale(1.1);
}
.card.done .icon {
  opacity: 0.5;
}


/* controls */
#turn, #stats {
  position: absolute;
  z-index: 200;
}

#turn {
  bottom: 1.40vw;
  right: 1.40vw;
/*  height: 7.70vw;
  width: 6.30vw;
  border-radius: 50%;
  padding: 1.40vw;
  font-size: 7vw;
  font-family: 'rpg-icons';*/
  cursor: pointer;
  transition: 0.5s all;
}
#wrapper.playing #turn {
  bottom: -10.50vw;
}
#wrapper.playing .zone.store {
  opacity: 0;
}
#wrapper.playing #stats {
  right: -7vw;
}
#stats {
  top: 40vw;
  right: 2.80vw;
  transition: 0.5s right;
}
#exit {
  z-index: 1000;
  font-size: 4.20vw;
  height: 7vw;
  width: 7vw;
  background-color: #F88;
  display: block;
  top: -1.40vw;
  left: -1.40vw;
  position: absolute;
  text-align: center;
  border-radius: 50%;
}
#diams-val, #diams {
  width: 5.60vw;
  height: 5.60vw;
  position: relative;
}
#diams-val {
  z-index: 2;
  text-align: center;
  font-size: 3.15vw;
  color: white;
  text-shadow: 0.21vw 0.21vw 0.21vw rgba(0,0,0,0.9);
  line-height: 1.4;
}
#diams-val small {
  opacity: 0.7;
}
#income {
  font-size: 1.89vw;
  position: absolute;
  top: -1.40vw;
  right: -1.40vw;
  font-weight: bold;
}
#diams {
  position: absolute;
  background-color: #39f;
  transform: rotate(45deg);
  border: 0.28vw solid black;
  border-right-width: 0.56vw;
  border-bottom-width: 0.56vw;
}
.card.mini {
  font-size: 2.6vw;
  width: 3.50vw;
  height: 4.20vw;
  padding: 0.70vw 0 0 0;
  text-align: center;
  display: block;
}
#discard {
  opacity: 0.5;
}


.text-proxy, .shoot-proxy, .pow-proxy {
  position:absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 300;
}
.text-proxy{
  font-size: 2.45vw;
  color: red;
  text-shadow: 0.07vw 0.14vw 0 rgba(0,0,0,1);
  font-family: Arial, Helvetica, sans-serif;
}
.shoot-proxy{
  width: 4.20vw;
  height: 4.20vw;
  border-radius: 50%;
  text-shadow: 0 0.28vw 0.42vw rgba(0,0,0,0.5);
  background-color: white;
  box-shadow:0 0.28vw 0.42vw #aaa;
}
.pow-proxy {
  width: 2.10vw;
  height: 2.10vw;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, #fb9d23 0%, #ffc578 100%);
}

.introjs-helperLayer {
  background: rgba(255,255,255,.5);
  box-shadow: none;
  display: none;
  border: 0px none transparent;
}
.introjs-helperNumberLayer {
  left: 16px;
  top: 16px;
  display: none;
}
.introjs-overlay {
  background: rgba(0,0,0,0.5);
}
@keyframes wobble  {
  0%  { -webkit-transform:  rotateX(0) rotateY(0); }
  25%  { -webkit-transform:  rotateX(12deg) rotateY(0); }
  50%  { -webkit-transform:  rotateX(0) rotateY(0); }
  75%  { -webkit-transform:  rotateX(0) rotateY(12deg); }
  100%  { -webkit-transform:  rotateX(0) rotateY(0); }
}
button:nth-child(0){ animation-delay: -0.75s }
button:nth-child(1){ animation-delay: -0.25s }
button:nth-child(2){ animation-delay: -0.5s }
button:nth-child(3){ animation-delay: 0 }
button:nth-child(4){ animation-delay: -0.75s }
button:nth-child(5){ animation-delay: -0.25s }
button:nth-child(6){ animation-delay: -0.5s }
button:nth-child(7){ animation-delay: 0 }
button {
  font-family: Tahoma, 'sans-serif';
  box-shadow: 0.07vw 0.28vw 0 0 black;
  background: gold;
  border:0.28vw solid black;
  cursor:pointer;
  color:black;
  font-size: 2.10vw;
  padding: 0;
  text-decoration:none;
  border-radius: 0.70vw;
  border-top-style: dotted;
  padding: 0.21vw 0.35vw 0.56vw 0.35vw;
}
button:active {
  box-shadow:none;
  position:relative;
  top:0.28vw;
}

.menu div {
  width: 5.5vw;
  height: 3vw;
  display: inline-block;
  background-color: white;
  border: 0.5vw solid #888;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.menu div.dig {
  background: lightblue;
}

.turn-button {
  font-size:3.50vw;
  box-shadow: 0.07vw 0.42vw 0 0 black;
  width: 11.20vw;
  height: 5.60vw;
  animation: wobble 3s infinite;
}

/* levels page */
#scenarios {
  text-aling: center;
}
#levels {
  background-image: url(../img/cellar.svg);
  background-size: cover;
  text-align: center;
  padding: 1vw 4.20vw 0 4.20vw;
  position: absolute;
  bottom: 0; top: 0; left: 0; right: 0;
  transition: all 1s;
}
#levels p {
  text-align: center;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  height: 10vw;
  width: 10vw;
  padding: 0.5vw;
  margin: 10vw 15vw 10vw 5vw;
  transition: all 1s;
  transform: rotateZ(5deg) rotateX(-20deg);
}
#levels p b {
  display: block;
  font-size: 5vw;
  line-height: 4vw;
}
#logo {
  height: 21vw;
  transition: all 1s;
}
#levels p:hover {
  color: black;
  transform: rotateX(20deg) scale(1.1);
}

.splash {
  display: none;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  /*background-image: url(../img/splash.png);*/
}
/* Game Menu */
#game_menu {
  text-align: center;
  padding: 4.20vw 4.20vw 0 4.20vw;
  margin: 2.10vw 2.10vw 0 2.10vw;
  height: 36.40vw;
  transition: all 1s;
}
#game_menu p {
  text-align: center;
  padding: 0;
  margin: 0;
}
#game_menu a {
  display: inline-block;
  vertical-align: middle;
  padding-top: 2.10vw;
  height: 10.50vw;
  width: 19.60vw;
  margin: 2.10vw;
  border-radius: 0.70vw;
  color: black;
  background-color: white;
  transform: rotateZ(5deg) rotateX(-20deg);
  font-size: 2.10vw;
  transition: all 1s;
  text-decoration: none;
}
#game_menu a:hover {
  transform: rotateX(20deg) scale(1.1);
}
/* done game menu */

.preload #levels a {
  transform: rotateX(70deg) rotateZ(-10deg);
}
.preload #levels {
  margin-top: 35vw;
  transform: scale(2) rotateZ(-5deg);
}
.preload #logo {
  margin-top: -28vw;
  transform: scale(2) rotateZ(-10deg);
}

/* deckbuilder screen */
.pool-wrap {
  left: 0;
  right: 50%;
}
.deck-wrap {
  left: 50%;
  right: 0;
}
.deck-name {
  font-size: 2vw;
}
.deck-wrap, .pool-wrap {
  position: absolute;
  top: 4vw;
  bottom: 0;
  overflow: auto;
}

#deckbuilder table {
  float:left;
}
#deckbuilder table td {
  padding: 5px 10px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

#story {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #111;
  color: #ddd;
}
#story .page {
  font-size: 3.50vw;
  position: absolute;
  top: 5vw;
  left: 7vw; right: 7vw;
  text-align: center;
  transition: opacity 2s;
  opacity: 0;
  z-index: 0;
  font-family: Consolas, courier, sans-serif;
}
#story .page.showing {
  opacity: 1;
  z-index: 1;
}
#story p {
  margin: 0;
}
#story select {
  font-size: 3.50vw;
}
#story button {
  font-size: 3.50vw;
  margin: 2.10vw 0 0 0;
  animation: wobble 2s infinite;
}
#story button:active {top: auto}; /* prevent relative button pos */