
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
* {line-height:1.2; vertical-align:middle;}

body {
  margin: 0;
  font-family: 'Tahoma', sans-serif;
  padding: 0;
  color: #444;
  background: #ddd;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}


/* card inner styles */
.card {
  position: relative;
  z-index: 150;
  height: 20vh;
  width: 20vh;
  display: inline-block;
  list-style: none;
  margin:0 2vh 0 0;
  border-radius: 22%;
/*
background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); 
*/

}
.card .title {
  top: 0;
  left: 0;
  position: absolute;
  right: 0;
  height: 3vh;
  overflow: hidden;
  text-align: center;
  display: none;
}
.icon {
  font-family: 'rpg-icons';
  font-size: 15vh;
  line-height: 1;
  text-align: center;
  padding: 1vh;
  color: black;
  background-color: white;
  height: 20vh;
  width: 20vh;
  border-top-left-radius:3vh;
  border-top-right-radius:3vh;
  border-bottom-right-radius:1vh;
  border-bottom-left-radius:1vh;
  border: 0.5vh solid white;
  overflow: hidden;
  background: linear-gradient(190deg, #fefcea 0%,#d1ca76 100%);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.4);
}
.soft, .card {
  user-select:none;
}
.card .menu {
  position: absolute;
  top: 14vh;
  left: -0.5vh;
}

/*
.card:after {
  position:absolute;
  font-size:.9rem;
  top:1.5rem;
  right:1rem;
  content:"i";
  border:thin solid gray;
  color:gray;
  width:1rem;
  line-height:1rem;
  text-align:center;
  border-radius:50%;
  pointer-events:none;
}*/
.card .stats, .card .statuses {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 4vh;
  font-size: 3vh;
  letter-spacing: -0.4vh;
}
.card .stats {
  display: none;
}
.card:hover .stats {
  border-left: 1px solid rgba(0,0,0,0.1);
  display: block;
}
.card .pin {
  position: absolute;
  font-size: 3.5vh;
  text-align: center;
  text-shadow: 0.2vh 0.4vh 0.4vh black;
  font-weight: bold;
  border: 0.4vh solid black;
  border-radius: 2vh;
  border-top-style: dotted;
  border-bottom-width: 0.8vh;
}

.card .speed {
  position: absolute;
  right: 0.5vh;
  top: 4.5vh;
}
.card .health {
  right: -0.5vh;
  bottom: -0.5vh;
  background-color: white;
  line-height: 1;
  width: 6vh;
  height: 6vh;
  background-color: #0c0;
  color: white;
}
.card .cost {
  position: absolute;
  right: 0.5vh;
  top: 0.5vh;
}
.title {
  text-transform:uppercase;
  font-size: 2.8vh;
  height: 3vh;
  overflow:hidden;
}
.sortable .card .handle {
  cursor: move;
}


/* zones */
#zones {
  text-align: center;
}
.zone {
  padding-top: 6vh;
  position: relative;
  height: 32vh;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*transition: 0.5s height, 0.5s opacity;*/
}
.enemy.zone {
  text-align: right;
  padding-right: 6vh;
  background: linear-gradient(185deg, #ffffff 80%,#f1eab6 100%);
}
.field.zone {
  text-align: left;
  z-index: 101;
  padding-left: 6vh;
  background: linear-gradient(5deg, #ffffff 80%,#f1eab6 100%);
  border-top: 0.5vh solid #cc7;
  border-bottom: 2vh solid #ccc;
}
.hand.zone {
  position: absolute;
  text-align: center;
  bottom: 5vh;
  left: 0;
  right: 0;
}

/*
  transform: rotate(9deg);
.hand.zone .card:nth-child(1){ transform: rotate(-9deg)}
.hand.zone .card:nth-child(2){ transform: rotate(-4deg); margin-bottom: 1.5vh;}
.hand.zone .card:nth-child(3){ transform: rotate(4deg); margin-bottom: 1.5vh;}
*/

/*#wrapper.playing .hand.zone {height: 8vh;}
#wrapper.playing .hand-inner .card {opacity: 0;}*/
.store.zone {
  padding-top: 0;
  display: none;
}


 /*card types*/
.card.placeholder {
  opacity: 0 !important;
}
.card.minion .icon {
  background: linear-gradient(190deg, #fefcea 0%,#d17676 70%);
}
.card.asset .icon {
  background: linear-gradient(190deg, #fefcea 0%,#ccc 80%);
  background-color: #eee;
}
.card.resource .icon {
  background: radial-gradient(ellipse at center, #fefcea 10%,#8cafee 60%);
  background-color: #ffd;
}

/* card states */
.card.damaged .health {
  background-color: red;
}
.card.dead .icon {
  background-color: #888;
  opacity: 0.4;
  border-color: red;
}
.card .stun {
  font-size: 2.8vh;
  line-height: 1;
  width: 4vh;
  height: 4vh;
  background-color: orange;
  color: white;
}
.card.dead .stats {
  border-color: #777;
}
.card.target .icon {
  border: 1px solid yellow;
  cursor: pointer;
  transform: scale(1.1);
}
.card.done .icon {
  opacity: 0.5;
}


/* controls */
#turn, #stats {
  position: absolute;
  z-index: 200;
}

#turn {
  bottom: 2vh;
  right: 2vh;
/*  height: 11vh;
  width: 9vh;
  border-radius: 50%;
  padding: 2vh;
  font-size: 10vh;
  font-family: 'rpg-icons';*/
  cursor: pointer;
  transition: 0.5s all;
}
#wrapper.playing #turn {
  bottom: -15vh;
}
#wrapper.playing .zone.store {
  opacity: 0;
}
#wrapper.playing #stats {
  right: -10vh;
}
#stats {
  top: 70vh;
  right: 4vh;
  transition: 0.5s right;
}
#diams-val, #diams {
  width: 8vh;
  height: 8vh;
  position: relative;
}
#diams-val {
  z-index: 2;
  text-align: center;
  font-size: 4.5vh;
  color: white;
  text-shadow: 0.3vh 0.3vh 0.3vh rgba(0,0,0,0.9);
  line-height: 1.4;
}
#diams-val small {
  opacity: 0.7;
}
#income {
  font-size: 2.7vh;
  position: absolute;
  top: -2vh;
  right: -2vh;
  font-weight: bold;
}
#diams {
  position: absolute;
  background-color: #39f;
  transform: rotate(45deg);
  border: 0.4vh solid black;
  border-right-width: 0.8vh;
  border-bottom-width: 0.8vh;
}
.card.mini {
  font-size: 4vh;
  width: 5vh;
  height: 6vh;
  padding: 1vh 0 0 0;
  text-align: center;
  display: block;
}
#discard {
  opacity: 0.5;
}


.text-proxy, .shoot-proxy, .pow-proxy {
  position:absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 300;
}
.text-proxy{
  font-size: 3.5vh;
  color: red;
  text-shadow: 0.1vh 0.2vh 0 rgba(0,0,0,1);
  font-family: Arial, Helvetica, sans-serif;
}
.shoot-proxy{
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  text-shadow: 0 0.4vh 0.6vh rgba(0,0,0,0.5);
  background-color: white;
  box-shadow:0 0.4vh 0.6vh #aaa;
}
.pow-proxy {
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, #fb9d23 0%, #ffc578 100%);
}

.introjs-helperLayer {
  background: rgba(255,255,255,.5);
  box-shadow: none;
  display: none;
  border: 0px none transparent;
}
.introjs-helperNumberLayer {
  left: 16px;
  top: 16px;
  display: none;
}
.introjs-overlay {
  background: rgba(0,0,0,0.5);
}

button {
  font-family: Tahoma, 'sans-serif';
  box-shadow: 0.1vh 0.4vh 0 0 black;
  background: gold;
  border:0.4vh solid black;
  cursor:pointer;
  color:black;
  font-size:3vh;
  padding: 0;
  text-decoration:none;
  border-radius: 1vh;
  border-top-style: dotted;
  padding: 0.3vh 0.5vh 0.8vh 0.5vh;
}
button.dig {
  background: lightblue;
}
button:active {
  box-shadow:none;
  position:relative;
  top:0.4vh;
}

.turn-button {
  font-size:5vh;
  box-shadow: 0.1vh 0.6vh 0 0 black;
  width: 16vh;
  height: 8vh;
}

/* levels page */
#scenarios {
  text-aling: center;
}
#levels {
  text-align: center;
  padding: 6vh 6vh 0 6vh;
  margin: 3vh 3vh 0 3vh;
  height: 52vh;
  transition: all 1s;
}
#levels p {
  text-align: center;
}
#logo {
  height: 30vh;
  transition: all 1s;
}
#levels a {
  display: inline-block;
  vertical-align: middle;
  padding-top: 3vh;
  height: 15vh;
  width: 18vh;
  margin: 3vh;
  border-radius: 1vh;
  color: black;
  background-color: white;
  transform: rotateZ(5deg) rotateX(-20deg);
  font-size: 3vh;
  transition: all 1s;
  text-decoration: none;
}
#levels a:hover {
  transform: rotateX(20deg) scale(1.1);
}
.preload #levels a {
  transform: rotateX(70deg) rotateZ(-10deg);
}
.preload #levels {
  margin-top: 50vh;
  transform: scale(2) rotateZ(-5deg);
}
.preload #logo {
  margin-top: -40vh;
  transform: scale(2) rotateZ(-10deg);
}

/* deckbuilder screen */
.pool-wrap {
  left: 0;
  right: 50%;
}
.deck-wrap {
  left: 50%;
  right: 0;
}

.deck-wrap, .pool-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
}
#deckbuilder table {
  float:left;
}
#deckbuilder table td {
  padding: 5px 10px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
#deckbuilder .icon {
  font-family: 'rpg-icons';
}

#story {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #111;
  color: #ddd;
}
#story p {
  font-size: 5vh;
  position: absolute;
  top: 30vh;
  left: 10vh; right: 10vh;
  text-align: center;
  transition: opacity 2s;
  opacity: 0;
  z-index: 0;
  font-family: Consolas, courier, sans-serif;
}
#story p.showing {
  opacity: 1;
  z-index: 1;
}
#story select {
  font-size: 5vh;
}
#story button {
  font-size: 5vh;
  margin: 3vh 0 0 0;
}
#story button:active {top: auto}; /* prevent relative button pos */